services:
  backend:
    develop:
      watch:
        - action: sync
          path: ./backend/src
          target: /app/src
        - action: sync
          path: ./backend/prisma
          target: /app/prisma
        - action: rebuild
          path: ./backend/package.json
        - action: rebuild
          path: ./backend/Dockerfile
  frontend:
    develop:
      watch:
        - action: sync
          path: ./frontend/src
          target: /app/src
        - action: sync
          path: ./frontend/index.html
          target: /app/index.html
        - action: rebuild
          path: ./frontend/package.json
        - action: rebuild
          path: ./frontend/Dockerfile
